.change-password-modal.alternateEmailPopup .input-wrapper {
  width: calc(100% - 130px);
  display: inline-block;
  position: relative;
}

.change-password-modal.alternateEmailPopup .ui.header {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.change-password-modal.alternateEmailPopup .ui.form .field > label {
  margin: 0 0 6px;
}

.change-password-modal.alternateEmailPopup .alterEmailField {
  width: 100%;
  display: inline-block;
  margin: 0 0 16px;
  position: relative;
}

.change-password-modal.alternateEmailPopup .alterEmailField:last-child {
  margin: 0;
}

.change-password-modal.alternateEmailPopup .alterEmailField > * {
  display: inline-block;
  vertical-align: bottom;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field {
  margin: 0;
  width: 100%;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field:last-child {
  margin-top: 0;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field.disabled {
  opacity: .9;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input {
  color: #132c52;
  font-size: 12px;
  font-weight: 600;
  padding-top: 13px;
  padding-bottom: 14px;
  line-height: 1.3;
  padding-right: 35px;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input::-webkit-input-placeholder {
  color: #132c52;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input:-ms-input-placeholder {
  color: #132c52;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input::-ms-input-placeholder {
  color: #132c52;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input::placeholder {
  color: #132c52;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input:active, .change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input:focus, .change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input:hover {
  background: transparent !important;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
          box-shadow: 0 0 0 100px white inset !important;
  border-color: rgba(34, 36, 38, 0.15) !important;
}

.change-password-modal.alternateEmailPopup .alterEmailField .field .ui.fluid.input > input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
          box-shadow: 0 0 0 100px white inset !important;
  border-color: rgba(34, 36, 38, 0.15) !important;
}

.change-password-modal.alternateEmailPopup .alterEmailField .error .input input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px #fff6f6 inset !important;
          box-shadow: 0 0 0 100px #fff6f6 inset !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38;
}

.change-password-modal.alternateEmailPopup .alterEmailField .error .input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff6f6 inset !important;
          box-shadow: 0 0 0 100px #fff6f6 inset !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38;
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-select {
  position: absolute;
  bottom: 11px;
  margin: 0;
  z-index: 10;
  cursor: pointer;
  right: 12px;
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-select.uncheck rect {
  stroke: rgba(34, 36, 38, 0.15);
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-btn {
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 50px;
  height: 45px;
  cursor: pointer;
  border-radius: .28571429rem;
  padding: 11px 2px;
  text-align: center;
  margin-left: 15px;
  position: relative;
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-btn.active {
  outline: none;
  background-color: #03b2db;
  border-color: #03b2db;
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-btn.active svg {
  display: none;
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-btn:active, .change-password-modal.alternateEmailPopup .alterEmailField .email-btn:focus, .change-password-modal.alternateEmailPopup .alterEmailField .email-btn:hover {
  outline: none;
  background-color: #03b2db;
  border-color: #03b2db;
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-btn:active path, .change-password-modal.alternateEmailPopup .alterEmailField .email-btn:focus path, .change-password-modal.alternateEmailPopup .alterEmailField .email-btn:hover path {
  fill: #fff;
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-btn.email-action-disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .6;
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-btn.email-action-disable:active, .change-password-modal.alternateEmailPopup .alterEmailField .email-btn.email-action-disable:focus, .change-password-modal.alternateEmailPopup .alterEmailField .email-btn.email-action-disable:hover {
  outline: none;
  background-color: transparent;
  border-color: rgba(34, 36, 38, 0.15);
}

.change-password-modal.alternateEmailPopup .alterEmailField .email-btn.email-action-disable:active path, .change-password-modal.alternateEmailPopup .alterEmailField .email-btn.email-action-disable:focus path, .change-password-modal.alternateEmailPopup .alterEmailField .email-btn.email-action-disable:hover path {
  fill: #132C52;
}

.change-password-modal.alternateEmailPopup .verify-error {
  width: 100%;
  display: inline-block;
  color: #9f3a38;
  font-size: 12px;
}

.change-password-modal.cst-popup.cancel-plan {
  max-width: 450px !important;
}

@media (max-width: 420px) {
  .change-password-modal.cst-popup.cancel-plan {
    width: 95% !important;
  }
}

.change-password-modal.cst-popup.cancel-plan .btn {
  width: auto !important;
  margin: 0 10px !important;
  min-width: 100px !important;
}

@media (min-width: 421px) {
  .change-password-modal.cst-popup {
    width: 100% !important;
    max-width: 400px !important;
  }
}

@media (max-width: 420px) {
  .change-password-modal.cst-popup {
    width: 95% !important;
  }
}

.change-password-modal .change-password-modal__btn {
  font-size: 14px !important;
  padding: 15px !important;
}

@media (max-width: 360px) {
  .change-password-modal .change-password-modal__btn {
    font-size: 12px !important;
  }
}

.change-password-modal .content .field:last-child {
  margin-top: 25px;
}

@media (max-width: 767px) {
  .change-password-modal.ui.modal > .content {
    padding: 0 !important;
  }
}

@media (max-width: 767px) {
  .alternate-Email-Popup.ui.modal.cst-popup {
    max-width: 99% !important;
  }
}

.alternate-Email-Popup.ui.modal.cst-popup.membershipmodal .content {
  padding: 0 !important;
}

.alternate-Email-Popup.ui.modal.cst-popup.membershipmodal .content .cst-popup__text {
  padding: 15px;
  font-size: 14px;
}

.alternate-Email-Popup .ui.grid {
  margin-left: 0;
  margin-right: 0;
  display: inline;
}

.alternate-Email-Popup .cst-popup__close {
  top: 18px;
}

.alternate-Email-Popup.ui.modal {
  width: 550px !important;
  max-width: 99% !important;
  padding: 0 !important;
  background-color: #fff !important;
  border-radius: 10px !important;
}

.alternate-Email-Popup.ui.modal > div {
  width: 100%;
  display: inline-block;
}

.alternate-Email-Popup.ui.modal .ui.header {
  font-size: 16px;
  line-height: 22px;
  color: #03B2D8 !important;
  font-family: 'Open Sans';
  font-weight: 700;
  border-bottom: 1px solid #EAEAEA !important;
  margin: 0 !important;
  padding: 5px 15px 17px !important;
  margin: 0 !important;
}

.alternate-Email-Popup.ui.modal .content {
  padding: 15px 15px !important;
  border-radius: 10px;
}

.alternate-Email-Popup.ui.modal .content .row {
  padding: 0;
  margin: 0 0 8px;
}

.alternate-Email-Popup.ui.modal .content h3 {
  font-size: 16px;
  line-height: 22px;
  color: #132C52 !important;
  font-weight: 700;
  margin: 8px 0 0;
  text-align: left;
}

.alternate-Email-Popup.ui.modal .content p {
  font-size: 12px;
  line-height: 16px;
  color: #132C52 !important;
  font-weight: 400;
  text-align: left;
  margin: 0 0 2px;
}

.alternate-Email-Popup .input_row_wrap {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #D7D7D7;
  padding: 9px 10px !important;
  text-align: left;
}

@media (max-width: 767px) {
  .alternate-Email-Popup .input_row_wrap {
    padding: 9px 4px !important;
  }
}

.alternate-Email-Popup .input_row_wrap .field {
  width: auto;
  display: inline-block;
}

.alternate-Email-Popup .input_row_wrap .field .ui.fluid.input {
  display: inline-block;
  vertical-align: middle;
}

.alternate-Email-Popup .input_row_wrap .field input {
  border: none;
  padding: 0 0;
  width: auto !important;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #132C52 !important;
  font-weight: 600;
  min-width: 280px;
  margin: 0 0 0 0;
  background-color: transparent;
}

@media (max-width: 991px) {
  .alternate-Email-Popup .input_row_wrap .field input {
    min-width: 210px;
  }
}

@media (max-width: 767px) {
  .alternate-Email-Popup .input_row_wrap .field input {
    font-size: 10px;
    min-width: 135px;
  }
}

.alternate-Email-Popup .input_row_wrap .field input::-webkit-input-placeholder {
  color: #132C52 !important;
}

.alternate-Email-Popup .input_row_wrap .field input:-ms-input-placeholder {
  color: #132C52 !important;
}

.alternate-Email-Popup .input_row_wrap .field input::-ms-input-placeholder {
  color: #132C52 !important;
}

.alternate-Email-Popup .input_row_wrap .field input::placeholder {
  color: #132C52 !important;
}

.alternate-Email-Popup .input_row_wrap .field input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
          box-shadow: 0 0 0 100px white inset !important;
  border-color: rgba(34, 36, 38, 0.15) !important;
}

.alternate-Email-Popup .input_row_wrap .field input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
          box-shadow: 0 0 0 100px white inset !important;
  border-color: rgba(34, 36, 38, 0.15) !important;
}

.alternate-Email-Popup .input_row_wrap .other-tags-notification {
  text-align: right;
}

.alternate-Email-Popup .input_row_wrap .email-label {
  font-size: 8px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  border-radius: 6px;
  padding: 2px 4px 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 8px;
}

@media (max-width: 767px) {
  .alternate-Email-Popup .input_row_wrap .email-label {
    margin: 0 0 0 4px;
  }
}

.alternate-Email-Popup .input_row_wrap .email-label.btn1 {
  background-color: #6FCF97;
}

.alternate-Email-Popup .input_row_wrap .email-label.btn2 {
  background-color: #F2C94C;
}

.alternate-Email-Popup .input_row_wrap button {
  margin: 0 0 0 8px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .alternate-Email-Popup .input_row_wrap button {
    margin: 0 0 0 4px;
  }
}

.alternate-Email-Popup .input_row_wrap button.email_primary_btn {
  color: #03B2D8;
  border: 1px solid #03B2D8;
  font-size: 10px;
  line-height: 14px;
  border-radius: 3px;
  background-color: transparent;
  padding: 5px 6px;
}

@media (max-width: 767px) {
  .alternate-Email-Popup .input_row_wrap button.email_primary_btn {
    font-size: 9px;
  }
}

@media (max-width: 767px) {
  .alternate-Email-Popup .input_row_wrap button.email_primary_btn {
    font-size: 8px;
    padding: 4px 2px 3px;
  }
}

.alternate-Email-Popup .input_row_wrap button.email_primary_btn:hover, .alternate-Email-Popup .input_row_wrap button.email_primary_btn:active, .alternate-Email-Popup .input_row_wrap button.email_primary_btn:focus {
  background-color: #03B2D8;
  color: #fff;
}

.alternate-Email-Popup .input_row_wrap button.email_delete_btn {
  background-color: #03B2D8;
  border: 1px solid #03B2D8;
  border-radius: 3px;
  color: #fff;
  padding: 2px 5px;
}

@media (max-width: 767px) {
  .alternate-Email-Popup .input_row_wrap button.email_delete_btn {
    padding: 1px 2px 0;
  }
}

@media (max-width: 767px) {
  .alternate-Email-Popup .input_row_wrap button.email_delete_btn svg {
    width: 11px;
  }
}

.alternate-Email-Popup .input_row_wrap button.email_delete_btn svg path {
  fill: #fff;
}

.alternate-Email-Popup .input_row_wrap button.email_delete_btn:hover, .alternate-Email-Popup .input_row_wrap button.email_delete_btn:active, .alternate-Email-Popup .input_row_wrap button.email_delete_btn:focus {
  color: #fff;
  background-color: var(--medium-blue-hover);
}

.alternate-Email-Popup .input_row_wrap button.email_delete_btn:hover svg path, .alternate-Email-Popup .input_row_wrap button.email_delete_btn:active svg path, .alternate-Email-Popup .input_row_wrap button.email_delete_btn:focus svg path {
  fill: #fff;
}

.alternate-Email-Popup .contact-modal-error .error-message {
  display: block !important;
  margin-top: 10px;
}

.alternate-Email-Popup .secondary_email_inner {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.alternate-Email-Popup .secondary_email .column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.alternate-Email-Popup .secondary_email .field {
  display: inline-block;
  width: calc(100% - 88px);
}

@media (max-width: 767px) {
  .alternate-Email-Popup .secondary_email .field .input {
    font-size: 10px;
  }
}

.alternate-Email-Popup .secondary_email .field .input input {
  text-transform: capitalize;
}

.alternate-Email-Popup .secondary_email .field .input input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
          box-shadow: 0 0 0 100px white inset !important;
  border-color: rgba(34, 36, 38, 0.15) !important;
}

.alternate-Email-Popup .secondary_email .field .input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
          box-shadow: 0 0 0 100px white inset !important;
  border-color: rgba(34, 36, 38, 0.15) !important;
}

.alternate-Email-Popup .secondary_email .error .input input {
  background-color: #fff6f6;
  border-color: #e0b4b4;
  color: #9f3a38;
  text-transform: capitalize !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.alternate-Email-Popup .secondary_email .error .input input::-webkit-input-placeholder {
  text-transform: capitalize !important;
}

.alternate-Email-Popup .secondary_email .error .input input:-moz-placeholder {
  text-transform: capitalize !important;
}

.alternate-Email-Popup .secondary_email .error .input input::-moz-placeholder {
  text-transform: capitalize !important;
}

.alternate-Email-Popup .secondary_email .error .input input:-ms-input-placeholder {
  text-transform: capitalize !important;
}

.alternate-Email-Popup .secondary_email .focused .input input {
  text-transform: lowercase !important;
}

.alternate-Email-Popup .secondary_email .focused .input input::-webkit-input-placeholder {
  text-transform: capitalize !important;
}

.alternate-Email-Popup .secondary_email .focused .input input:-moz-placeholder {
  text-transform: capitalize !important;
}

.alternate-Email-Popup .secondary_email .focused .input input::-moz-placeholder {
  text-transform: capitalize !important;
}

.alternate-Email-Popup .secondary_email .focused .input input:-ms-input-placeholder {
  text-transform: capitalize !important;
}

.alternate-Email-Popup .secondary_email .defocused .input input {
  text-transform: lowercase !important;
}

.alternate-Email-Popup .secondary_email .ui.button.submit_btn {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  border: 1px solid #03B2D8;
  background-color: #03B2D8;
  border-radius: 5px;
  padding: 9px 24px;
  margin: 0 0 0 8px;
}

@media (max-width: 767px) {
  .alternate-Email-Popup .secondary_email .ui.button.submit_btn {
    padding: 4px 24px;
    font-size: 11px;
  }
}

.alternate-Email-Popup .secondary_email .ui.button.submit_btn:hover, .alternate-Email-Popup .secondary_email .ui.button.submit_btn:active, .alternate-Email-Popup .secondary_email .ui.button.submit_btn:focus {
  color: #fff !important;
  background-color: var(--medium-blue-hover) !important;
}

.alternate-Email-Popup p {
  width: 100%;
  display: inline-block;
}

.sms-otp-popup.ui.modal.cst-popup {
  padding: 19px 0 50px;
  width: 400px;
  border-radius: 10px;
}

.sms-otp-popup.ui.modal.cst-popup .ui.header {
  font-size: 20px;
  line-height: 27px;
  color: #132C52;
  border-bottom: 1px solid #EAEAEA !important;
  margin: 0;
  padding: 0 20px 16px !important;
}

.sms-otp-popup.ui.modal.cst-popup .content {
  padding: 35px 0 0 !important;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.sms-otp-popup.ui.modal.cst-popup .content p {
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.sms-otp-popup.ui.modal.cst-popup .content p.otp_number {
  font-weight: bold;
  margin-bottom: 20px;
}

.sms-otp-popup.ui.modal.cst-popup .content p.resend_code {
  margin: 20px 0 35px;
}

.sms-otp-popup.ui.modal.cst-popup .content p.resend_code a {
  color: #03B2D8;
  text-decoration: underline;
}

.sms-otp-popup.ui.modal.cst-popup .content .ui.button {
  font-size: 14px;
  line-height: 19px !important;
  padding: 0;
  width: 150px;
  height: 40px;
  border-radius: 5px !important;
}

.otp_wrap {
  margin: 8px 0 15px;
  text-align: left;
}

.otp_wrap.error input {
  border-color: #e0b4b4 !important;
  color: #9f3a38;
}

.otp_wrap .otp_input {
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  vertical-align: middle;
  margin-left: -12px;
}

@media (max-width: 767px) {
  .otp_wrap .otp_input {
    margin-left: -8px;
  }
}

@media (max-width: 767px) {
  .otp_wrap .otp_input {
    margin-left: -4px;
    margin-right: 4px;
  }
}

.otp_wrap .otp_input input {
  width: 40px !important;
  height: 37px;
  display: inline-block;
  padding: 0;
  border: 1px solid #EAEAEA;
  margin: 0 12px;
}

@media (max-width: 767px) {
  .otp_wrap .otp_input input {
    margin: 0 8px;
  }
}

@media (max-width: 767px) {
  .otp_wrap .otp_input input {
    margin: 0 4px;
  }
}

.otp_wrap .btn {
  display: inline-block;
  vertical-align: middle;
}

.phone-verification {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.phone-verification .count_down {
  font-size: 10px;
  font-weight: 600;
  color: #03B2D8;
  padding: 0;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .phone-verification .count_down {
    font-size: 8px;
  }
}

.phone-verification.add-phone .manageContact-CustomInput {
  left: 13%;
  width: 85%;
}

.phone-verification.add-phone .manageContact-CustomInput input {
  width: 100% !important;
}

.phone-verification.add-phone .manageContact-CustomInput span {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .phone-verification.add-phone .manageContact-CustomInput {
    left: 19%;
  }
}

@media (max-width: 340px) {
  .phone-verification.add-phone .manageContact-CustomInput {
    left: 25%;
    width: 65%;
  }
}

@media (max-width: 820px) and (orientation: landscape) {
  .phone-verification.add-phone .manageContact-CustomInput {
    left: 14%;
  }
}

.phone-verification.add-phone .phone_wrap {
  width: calc(100% - 88px);
  display: inline-block;
}

.phone-verification.add-phone .phone_wrap .dropdown i {
  margin: 0 8px 0 2px !important;
}

.phone-verification .ui.button.submit_btn {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  border: 1px solid #03B2D8;
  background-color: #03B2D8;
  border-radius: 5px;
  padding: 9px 24px;
  margin: 0 0 0 8px;
}

@media (max-width: 767px) {
  .phone-verification .ui.button.submit_btn {
    margin-top: 0px;
  }
}

.phone-verification .ui.button.submit_btn:hover, .phone-verification .ui.button.submit_btn:active, .phone-verification .ui.button.submit_btn:focus {
  color: #fff !important;
  background-color: var(--medium-blue-hover) !important;
}

.phone_wrap {
  position: relative;
}

.phone_wrap .error {
  font-size: 12px;
  line-height: 16px;
  color: #EB5757;
  position: absolute;
  top: 0;
  left: 0;
}

.phone_wrap .phone_field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(34, 36, 38, 0.15);
  background-color: #ffffff;
  border-radius: .28571429rem;
  padding: 7px 10px 6px;
  margin: 0 0;
  text-align: left;
  height: 40px;
}

@media (max-width: 767px) {
  .phone_wrap .phone_field {
    padding: 7px 4px 6px;
  }
}

.phone_wrap .phone_field .dropdown {
  display: inline-block;
  vertical-align: middle;
  width: 53px;
}

@media (max-width: 767px) {
  .phone_wrap .phone_field .dropdown {
    font-size: 11px;
    width: 45px;
  }
}

@media (max-width: 767px) {
  .phone_wrap .phone_field .dropdown i {
    margin: 0 0 0 2px !important;
  }
}

.phone_wrap .phone_field .dropdown .menu {
  max-height: 270px;
  overflow: auto;
  margin: 0;
  top: calc(100% + 5px);
  left: -10px;
}

.phone_wrap .phone_field .field {
  width: 50%;
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

@media (max-width: 412px) {
  .phone_wrap .phone_field .field {
    width: 88px;
  }
}

.phone_wrap .phone_field .field input {
  border: none;
  width: 100% !important;
  padding: 0 2px;
  min-width: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 412px) {
  .phone_wrap .phone_field .field input {
    font-size: 11px;
  }
}

.phone_wrap .phone_field .email-label {
  font-size: 8px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  border-radius: 6px;
  padding: 2px 4px 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.phone_wrap .phone_field .email-label.btn1 {
  background-color: #6FCF97;
}

.phone_wrap .phone_field .email-label.btn2 {
  background-color: #F2C94C;
}

.phone_wrap .phone_field button {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.phone_wrap .phone_field button.email_primary_btn {
  color: #03B2D8;
  border: 1px solid #03B2D8;
  font-size: 10px;
  line-height: 14px;
  border-radius: 3px;
  background-color: transparent;
  padding: 5px 6px;
}

@media (max-width: 767px) {
  .phone_wrap .phone_field button.email_primary_btn {
    font-size: 8px;
    padding: 4px 2px 3px;
  }
}

.phone_wrap .phone_field button.email_primary_btn:hover, .phone_wrap .phone_field button.email_primary_btn:active, .phone_wrap .phone_field button.email_primary_btn:focus {
  background-color: var(--medium-blue-hover);
  color: #fff;
}

.phone_wrap .phone_field button.email_delete_btn {
  background-color: #03B2D8;
  border: 1px solid #03B2D8;
  border-radius: 3px;
  color: #fff;
  padding: 2px 5px;
}

@media (max-width: 767px) {
  .phone_wrap .phone_field button.email_delete_btn {
    padding: 1px 2px 0;
  }
}

@media (max-width: 767px) {
  .phone_wrap .phone_field button.email_delete_btn svg {
    width: 11px;
  }
}

.phone_wrap .phone_field button.email_delete_btn svg path {
  fill: #fff;
}

.phone_wrap .phone_field button.email_delete_btn:hover, .phone_wrap .phone_field button.email_delete_btn:active, .phone_wrap .phone_field button.email_delete_btn:focus {
  color: #fff;
  background-color: var(--medium-blue-hover);
}

.phone_wrap .phone_field button.email_delete_btn:hover svg path, .phone_wrap .phone_field button.email_delete_btn:active svg path, .phone_wrap .phone_field button.email_delete_btn:focus svg path {
  fill: #fff;
}

.sms_notification_wrap {
  padding: 12px 0 8px;
}

.sms_notification_wrap span {
  font-size: 12px;
  line-height: 16px;
  color: #132C52;
  display: inline-block;
  vertical-align: middle;
}

.sms_notification_wrap span.sms_label {
  font-weight: 600;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  position: relative;
  padding: 0 24px;
  margin: 0 15px;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox input {
  width: 100%;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox input ~ label:after {
  width: 14px;
  height: 14px;
  background-color: #03B2D8;
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 2px;
  left: 2.5px;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox input:checked ~ label:after {
  background-color: #EBE8E8;
  left: auto;
  right: 2.5px;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox label {
  margin: 0 !important;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox label:before {
  background-color: #EBE8E8 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 32.03px;
  height: 18px;
  border-radius: 9px;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox input:checked ~ label:before {
  background-color: #03B2D8 !important;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox span {
  position: absolute;
  line-height: 0;
  display: inline-block;
  left: 0;
  top: 1px;
  right: 0;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox span:after {
  content: 'on';
  color: #132C52;
  opacity: .6;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  right: 0;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox input:checked ~ span:after {
  opacity: 1;
  color: #03B2D8;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox span:before {
  content: 'off';
  font-size: 12px;
  line-height: 16px;
  opacity: 1;
  color: #03B2D8;
  position: absolute;
  left: 0;
}

.sms_notification_wrap .ui.fitted.toggle.checkbox input:checked ~ span:before {
  color: #132C52;
  opacity: .6;
}
/*# sourceMappingURL=change-password-modal.css.map */