// <!-- Blogs detail
.blog-detail-page {
  padding: 0 0 60px;
  max-width: 1110px;
  margin: 0 auto;

  &__back-to-blog {
    border: 0;
    background: transparent !important;
    color: var(--grey2) !important;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
    }

    svg {
      margin-right: 10px;
    }
    &:hover {
      cursor: pointer;
      color: var(--black) !important;
    }
  }


  &__header {
    text-align: center;
    margin: 0 0 16px;
  }
  &__title {
    font-size: 26px;
    line-height: 1.5;
    color: var(--dark);
    margin: 0 auto 10px;
    max-width: 600px;
  }
  &__info {
    color: var(--text-light);
    font-size: 16px;
    line-height: 1.85;

    .dot {
      --size: 3px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background: var(--text-light);
      display: inline-block;
      vertical-align: middle;
      margin: 0 6px;
    }
  }


  // &__body {}

  &__feature-image {
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;

    // img {}
  }
  &__content {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.85;

    h2 {
      color: var(--dark);
      font-size: 26px;
      margin: 30px 0 20px;
      line-height: 1.5;
    }

    h3 {
      font-size: 20px;
      color: var(--grey1);
      margin: 25px 0 15px;
      line-height: 1.5;
    }

    h4 {
      font-size: 18px;
      color: var(--grey1);
      margin: 20px 0 10px;
      line-height: 1.5;
    }

    p {
      color: var(--black);
      margin: 0 0 15px;
      line-height: inherit;
    }

    ul,
    ol {
      margin-bottom: 20px;
      line-height: inherit;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width: 767px) {
    padding: 0 0 30px;

    &__header {
      margin-bottom: 0;
    }
    &__title {
      font-size: 22px;
    }
    &__info {
      font-size: 14px;
    }

    &__content {
      font-size: 14px;
      text-align: left !important;

      h2 {
        font-size: 22px;
        margin: 25px 0 15px;
      }

      h3 {
        font-size: 18px;
        margin: 20px 0 10px;
      }

      h4 {
        font-size: 16px;
        margin: 15px 0 10px;
      }

      p {
        margin: 0 0 10px;
      }

      ul,
      ol {
        margin-bottom: 15px;
      }

      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
// Blogs detail -->
.blog-detail-page__tags{
  margin: 0;
  .blog-detail-page__tags_inner{
    padding: 0 0 60px;
    width: 1020px;
    max-width: 100%;
    margin: 0 auto;
    .ui.button{
      display: inline-block;
      border: 1px solid var(--medium-blue);
      color: var(--medium-blue);
      background-color: var(--white);
      margin: 5px;
      text-transform: capitalize;
      &:hover,
      &:active,
      &:focus{
        border-color: var(--medium-blue-hover);
        color: var(--medium-blue-hover);
        background-color: var(--white);
      }
    }
  }
}