.dashboard-pages {
  padding: 6rem 1rem 1.5rem;
}

.user-dashboard {
  background: var(--white);
  padding: 20px 0;
  font-family: var(--primary-font);
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 414px) {
  .user-dashboard {
    padding-bottom: 30px;
    padding-top: 0 !important;
  }
  .user-dashboard .text-light {
    font-size: 13px;
    padding: 0 5px;
  }
}

.user-dashboard__col {
  --section-p-tb: 56px;
  padding-top: var(--section-p-tb) !important;
  padding-bottom: var(--section-p-tb) !important;
}

.user-dashboard__col--left {
  background-color: var(--dark);
  border-radius: 10px;
  background-image: url("../../assets/images/sidebar-bg.svg");
  background-position: 5.3px calc(100% + 15px);
  background-repeat: no-repeat;
}

.user-dashboard__col--left .ui.header {
  color: var(--dark);
  margin: 25px 0 10px;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  line-height: 1;
  text-transform: capitalize;
}

.user-dashboard__col--left .ui.vertical.menu {
  width: 100%;
  margin: 60px 0 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  padding: 0 6px 150px;
}

.user-dashboard__col--left .ui.vertical.menu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 19px 17px;
  color: var(--white);
  font-family: inherit;
  border-radius: 8px !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 16px;
}

.user-dashboard__col--left .ui.vertical.menu .item svg {
  margin-right: 16px;
}

.user-dashboard__col--left .ui.vertical.menu .item svg path {
  fill: var(--white);
}

.user-dashboard__col--left .ui.vertical.menu .item:hover:not(.active), .user-dashboard__col--left .ui.vertical.menu .item.active {
  color: var(--medium-blue) !important;
}

.user-dashboard__col--left .ui.vertical.menu .item:hover:not(.active) svg path, .user-dashboard__col--left .ui.vertical.menu .item.active svg path {
  fill: var(--medium-blue);
}

.user-dashboard__col--left .ui.vertical.menu .item.active {
  font-weight: 600;
}

.user-dashboard__col--left .ui.vertical.menu .item.active, .user-dashboard__col--left .ui.vertical.menu .item.active:hover {
  background: rgba(var(--white-rgb), 0.1);
}

.user-dashboard__col--right {
  --section-p-tb: 0;
}

@media (min-width: 992px) {
  .user-dashboard__col--right {
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  .user-dashboard__col--right {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}

@media (max-width: 991px) {
  .user-dashboard__col {
    --section-p-tb: 25px;
  }
}

@media (max-width: 767px) {
  .user-dashboard__col {
    border-top: 0 !important;
  }
}

@media (min-width: 1110px) {
  .user-dashboard .ui.grid > .user-dashboard__col--left[class*=column] {
    width: 255px !important;
  }
  .user-dashboard .ui.grid > .user-dashboard__col--right[class*=column] {
    width: calc(100% - 255px) !important;
  }
}

@media (max-width: 768px) {
  .user-dashboard .ui.grid.stackable.divided:not(.vertically).grid > .column.user-dashboard__col--right:not(.row) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.user-dashboard__content {
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;
}

@media (min-width: 992px) {
  .user-dashboard__content {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .user-dashboard__content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 639px) {
  .user-dashboard__content {
    max-width: 480px;
  }
}

@media (max-width: 479px) {
  .user-dashboard__content {
    padding-left: 0;
    padding-right: 0;
  }
}

.user-dashboard .ui.container {
  background: var(--white);
}

@media (min-width: 1440px) {
  .user-dashboard .ui.container {
    width: 1200px;
  }
}

.user-dashboard .ui.divided.grid:not([class*="vertically divided"]) > .column:not(.row),
.user-dashboard .ui.divided.grid:not([class*="vertically divided"]) > .row > .column {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.user-image {
  --size: 94;
  width: calc(1px * var(--size));
  height: calc(1px * var(--size));
  display: block;
  margin: 0 auto 18px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.user-image:hover {
  cursor: pointer;
}

.user-image img,
.user-image svg {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 6px;
  background: var(--light);
  -webkit-box-shadow: 0 0 0 3px rgba(var(--medium-blue-rgb), 0.2), 0 0 0 6px rgba(var(--medium-blue-rgb), 0.2);
          box-shadow: 0 0 0 3px rgba(var(--medium-blue-rgb), 0.2), 0 0 0 6px rgba(var(--medium-blue-rgb), 0.2);
}

.user-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.user-image .user-initials {
  --initials-size: var(--size);
}

.user-name {
  color: var(--white) !important;
  font-weight: 600;
  font-size: 18px;
}

.user-membership-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #03B2D8;
  display: block;
  text-align: center;
}

@media (max-width: 767px) {
  .user-membership-text {
    font-size: 12px;
    position: relative;
    top: -15px;
  }
}

.setting-cancel-btn-main-wrap {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cancel-btn-wrap {
  margin-left: 20px;
  color: #9f3a38;
  cursor: pointer;
}

.cancel-btn-wrap:hover {
  text-decoration: underline;
}

.span--disabled {
  pointer-events: none !important;
  opacity: 0.45 !important;
  pointer-events: none;
  cursor: not-allowed !important;
}

.contactphoneInput {
  width: 100%;
}

.contactphoneInput .phone_field {
  padding: 0;
  padding-right: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contactphoneInput .flag-dropdown {
  height: 35px;
}

.contactphoneInput .other-tags-notification {
  position: absolute;
  right: 10px;
}

.contactphoneInput .react-tel-input input:focus {
  border: 1px solid #85b7d9;
}

.contactphoneInput .react-tel-input .form-control {
  width: 100%;
  border: unset;
}

.contactphoneInput .react-tel-input .country-list .search-box {
  border: 0px solid #cacaca !important;
}

.user-dashboard__content .account-setting .cards {
  border-radius: 6px;
}

.user-dashboard__content .account-setting .cards .card {
  border: 1px solid #E2E8EA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  max-width: 350px;
  width: 100%;
}

.user-dashboard__content .account-setting .cards .card .content {
  padding: 20px 30px;
}

.user-dashboard__content .account-setting .cards .card .content .header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #132C52;
}

.user-dashboard__content .account-setting .cards .card .content .description {
  color: #97A2B3;
}

.user-dashboard__content .account-setting .cards .card .content svg {
  height: 25px;
  width: 23px;
  border-radius: 3px;
  padding: 4px;
  background: #C0ECF5;
}

.user-dashboard__content .notify-span {
  font-size: 12px;
  line-height: 22px;
  color: #132C52;
  opacity: 0.7;
}

.user-dashboard__content .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.user-dashboard__content .divider {
  border-bottom: 0.5 solid #E5E5E5;
}
/*# sourceMappingURL=dashboard.css.map */