.thankyou-page {
  text-align: center;
  font-family: var(--primary-font);
  padding: 50px 0 80px;
    
  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: var(--dark);
    margin: 40px 0 5px;
  }
  &__text {
    font-size: 18px;
    line-height: 31px;
    color: var(--text-light);
    margin-bottom: 30px;
  }
  &__btn {
    font-size: 14px !important;
    line-height: 19px !important;
    background-color: var(--medium-blue) !important;
    padding: 10px 35px !important;
    margin: 0 !important;
    font-family: var(--primary-font) !important;
    font-weight: normal !important;
    color: var(--white) !important;
  }

  @media (max-width: 479px) {
    &__title {
      font-size: 24px;
      margin: 25px 0 5px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

}
